<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Welcome to nginx! - Infranets IaC</title>
<style>
    body {
        width: 50em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Infranets - Workshop sur Terraform et Ansible IaC</h1>
<p>Bravo, vous avez déployé votre infrastructure avec Terraform et Ansible.</p>
<h3>Vous etes sur le backend : {{ansible_hostname}}</h3>
</body>
</html>
